OPENROUTER_FREE_KEY=
OPENROUTER_BASE_URL=
MCP_SERVER_URL=
API_TIMEOUT_MS=300000
BOTS={"local-deepseek":{"name":"local-deepseek","model":"deepseek-r1:7b","base_url":"http://localhost:11434","api_key":"local-key","mcp_servers":["default"],"custom_api_path":"/v1/chat/completions","api_type":"local-key"}}
MCP_SERVERS={"default":{"name":"default","url":"http://localhost:3000/mcp","token":null,"need_confirm":null}}
